@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@import "@fontsource-variable/playfair-display";
@import "@fontsource-variable/rubik";

@theme {
    --breakpoint-xs: 320px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1152px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --breakpoint-navCollapse: 921px;

    --font-size--xs: 0.75rem;
    --font-size--sm: 0.875rem;
    --font-size--base: 1rem;
    --font-size--lg: 1.125rem;
    --font-size--xl: 1.25rem;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
